@page
@model WebWarehouseDB.Pages.ProductTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Типы товаров</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType[0].Feature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
