@page
@model WebWarehouseDB.Pages.Providers.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Поставщик</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.SuppliedProduct1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.SuppliedProduct1.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.SuppliedProduct2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.SuppliedProduct2.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.SuppliedProduct3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.SuppliedProduct3.ProductId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Provider.ProviderId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
