@page
@model WebWarehouseDB.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StorageConditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.StorageConditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Package)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Package)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ShelfLife)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ShelfLife)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Type.TypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.ProductId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
